<ion-view title="Home" hide-nav-bar="true" id="page1">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <form class="list">
            <div class="spacer" style="width: 300px; height: 48px;"></div>
            <div>
                <img src="img/ubVMK9CBTsircMYjaePj_IMG_3541.JPG" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 49px;"></div>
            <label class="item item-input">
                <span class="input-label">TipPro ID</span>
                <input type="number" placeholder="Tip Pro #">
            </label>
        </form>
        <a ui-sref="menu.tipConfirmation" id="home-button3" style="font-weight:;" class="button button-positive  button-block">Leave a Tip!</a>
    </ion-content>
</ion-view>