<ion-view title="Login" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/3JRtVRANQOKMOhHY5GHg_IMG_3541.JPG" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form class="list">
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <div id="login-markdown2" style="color:#312F2F;font-size:24px;text-align:center;">
                <p>Welcome to Tip Pro!</p>
            </div>
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="login-button1" style="font-weight:;" class="button button-stable  button-block">Log in</a>
            <a ui-sref="menu.createAnAccount" id="login-button2" style="font-weight:;" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
        <!-- login.html -->
        <!-- ... -->
        <input type="submit" ng-click="login()" />
        <!-- ... -->
        
    </ion-content>
</ion-view>
