<ion-view title="Tip Confirmation" hide-nav-bar="true" id="page5">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <h1 id="tipConfirmation-heading3" style="color:#000000;">Jeeves ^(Picture)</h1>
            <div id="tipConfirmation-markdown3" style="color:#000000;">
                <p>Jeeves is from Long Island, NY. He is a passionate Yankees fan and loves putting a smile on customers' faces every day</p>
            </div>
            <div class="button-bar">
                <button id="tipConfirmation-button7" style="font-weight:;" class="button button-positive  button-block">$3</button>
                <button id="tipConfirmation-button8" style="font-weight:;" class="button button-positive  button-block">$5</button>
                <button id="tipConfirmation-button9" style="font-weight:;" class="button button-positive  button-block">$8</button>
            </div>
            <div class="button-bar"></div>
        </form>
        <a ui-sref="menu.home" id="tipConfirmation-button5" style="font-weight:;" class="button button-positive  button-block">Confirm Tip</a>
    </ion-content>
</ion-view>